@font-face {
  font-family: "Spartan Black";
  src: url("fonts/SpartanMB-Black.otf");
}
@font-face {
  font-family: "Spartan Bold";
  src: url("fonts/SpartanMB-Bold.otf");
}
@font-face {
  font-family: "Spartan Extra Bold";
  src: url("fonts/SpartanMB-Extra-Bold.otf");
}
@font-face {
  font-family: "Spartan Light";
  src: url("fonts/SpartanMB-Light.otf");
}
@font-face {
  font-family: "Spartan Regular";
  src: url("fonts/SpartanMB-Regular.otf");
}
@font-face {
  font-family: "Spartan SemiBold";
  src: url("fonts/SpartanMB-SemiBold.otf");
}
@font-face {
  font-family: "Spartan Thin";
  src: url("fonts/SpartanMB-Thin.otf");
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Spartan Regular";
  font-size: 12px;
}
header {
  width: 100%;
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.05);
  z-index: 5;
  position: relative;
  background-color: white;
}
#header-container {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Spartan Bold";
  font-size: 14px;
  letter-spacing: 1px;
  max-width: 1140px;
  margin: auto;
}
.logo-container {
  height: 100%;
  width: 200px;
  padding: auto;
}
.logo {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 90px;
  margin: 15px 55px;
}
.nav {
  width: 600px;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-evenly;
  display: flex;
  height: 100%;
  &__item {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    color: black;
    outline: none;
  }
  &__item::after {
    content: "";
    left: 50%;
    right: 50%;
    width: 0;
    transition: 0.4s;
    border: solid black;
    border-bottom: 2px;
    border-left: 0;
    border-right: 0;
    bottom: -10px;
    position: absolute;
  }

  &__item:hover::after,
  &__item:focus::after {
    left: 25%;
    right: 25%;
    width: 50%;
  }
}
.slider {
  display: flex;
  width: 100%;
  height: 800px;
  background-color: #f1f1f1;
}

.section-one {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 800px;
  align-items: center;
  justify-content: space-evenly;
  background-size: 100%;
  letter-spacing: 0.5em;
  padding: 0 5%;
  color: #222222;

  .bg {
    overflow: hidden;
    z-index: -1;
    height: auto;
    width: 100%;
    min-width: 1920px;
    position: absolute;
  }
  #text {
    display: inline-block;
    @media screen and (max-width: 1200px) {
      width: 80%;
      text-align: center;
    }
  }
  h1 {
    font-size: 55px;
    margin: 0;
  }
  h2 {
    font-size: 30px;
    font-family: "Spartan light";
    line-height: 50px;
  }
  h3 {
    font-size: 18px;
    font-family: "Spartan bold";
    letter-spacing: 0.2em;
  }
  div {
    width: 60%;
  }
  .red-button {
    background-color: rgb(218, 13, 13);
    display: inline-block;
    width: auto;
    padding: 23px 30px;
    border-radius: 15px;
    color: white;
    transition-duration: 0.2s;
    font-size: 12px;
    letter-spacing: 0.2em;
    margin: 12px 0 20px;
    font-family: "Spartan black";
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 6px;
    @media screen and (max-width: 1200px) {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .red-button:hover {
    background-color: rgb(235, 85, 85);
  }
}

.section-two {
  display: flex;
  position: relative;
  width: 100%;
  height: 1000px;
  align-items: center;
  justify-content: flex-end;
  letter-spacing: 0.5em;
  padding: 80px 5% 0;
  color: #222222;
  overflow: hidden;
  @media screen and (max-width: 1200px) {
    height: auto;
  }
  #banner2 {
    display: flex;
    width: 100%;
    max-width: 600px;
    margin-right: 8%;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 70px;
    @media screen and (max-width: 1200px) {
      margin-right: 0;
    }
  }
  .box-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 600px;
    height: 550px;
    grid-gap: 20px;
    @media screen and (max-width: 1200px) {
      grid-template-columns: 1fr;
      max-width: 300px;
      width: 100%;
      height: 1000px;
      margin-left: auto;
      margin-right: auto;
    }
    &__box {
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.1) 3px 6px 6px;
      border-radius: 12px;
      padding: 20px;
      font-size: 16px;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-weight: 900;
    }
    &__img {
      width: 120px;
      height: auto;
      margin-bottom: 10px;
    }
  }

  h2 {
    font-size: 55px;
    margin-bottom: 50px;
  }
  p {
    letter-spacing: 0.4px;
    margin: 0;
  }
  .bg {
    overflow: hidden;
    z-index: -1;
    height: 100%;
    position: absolute;
    width: 100%;
    min-width: 1920px;
    left: 0;
    top: 0;
    bottom: 0;
    height: auto;
    @media screen and (max-width: 1200px) {
      height: 100%;
    }
  }
}

@media screen and (max-width: 1200px) {
  h1,
  h2,
  h3,
  p {
    text-align: center;
  }
  .red-button {
    margin-left: auto;
    margin-right: auto;
  }
}
